@keyframes alert {
    0% {
        transform: translate(0, -320px);
        /* opacity: 1; */
    }
    10% {
        transform: translate(0, 0);
        /* opacity: 0.5; */
    }
    80% {
        transform: translate(0, 0);
        opacity: 1;
    }
    95% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
        transform: translate(0, -320px);
    }
}

.alert-message {
    animation: alert 8s linear forwards;
}