/*---------------------- style status project -------------------------*/

.top {
    background: linear-gradient(90deg, rgba(2, 1, 71, 1) 0%, rgba(180, 0, 6, 1) 62%);
    border: 1px solid darkgray;
    color: white;
    font-weight: bold;
    min-height: 40px !important;
}

.top span {
    min-width: 40px !important;
    height: 50px;
    max-height: 35px;
    align-self: end;
}

.top h6 {
    color: gold
}

.vip {
    color: rgb(200, 147, 1);
    background-color: antiquewhite;
    font-weight: bold;
    min-height: 40px !important;
}

.vip span {
    background: rgb(225, 191, 0);
    color: white;
    min-width: 40px !important;
}

.premium {
    background-color: whitesmoke;
    border: 1px solid darkgray;
    animation: flame 3s linear 1s infinite running;
    font-weight: bold;
    min-height: 40px !important;
}

.premium span {
    color: firebrick;
    min-width: 40px !important;
    height: 50px;
    max-height: 35px;
    align-self: end;
    position: relative;
}

.default {
    border: 1px solid grey;
}

@media screen and (max-width: 400px){
    .project_params {
        font-size: 9px !important;
    }
}