/*---------------------- style status project -------------------------*/

.top {
    background: linear-gradient(90deg, rgba(2, 1, 71, 1) 0%, rgba(180, 0, 6, 1) 62%);
    border: 1px solid darkgray;
    color: white;
    font-weight: bold;
    min-height: 40px !important;
}

.top span {
    min-width: 40px !important;
    height: 50px;
    max-height: 35px;
    align-self: end;
}

.top h6 {
    color: gold
}

.vip {
    color: rgb(199, 159, 0);
    background-color: rgb(249, 227, 200) !important;
    font-weight: bold;
    min-height: 40px !important;
    border: 1px solid rgb(191, 191, 0);
}

.vip span {
    background: rgb(246, 210, 3);
    color: white;
    min-width: 40px !important;
}

.premium {
    background-color: whitesmoke;
    border: 1px solid darkgray;
    animation: flame 3s linear 1s infinite running;
    font-weight: bold;
    min-height: 40px !important;
    color: rgb(83, 141, 250) !important;
}

.premium span {
    color: firebrick;
    min-width: 40px !important;
    height: 50px;
    max-height: 35px;
    align-self: end;
    position: relative;
}

.default {
    border: 1px solid grey;
    color: rgb(92, 92, 92);
}

@media screen and (max-width: 400px){
    .project_params {
        font-size: 10px !important;
    }
}

#main {
  width: 100%;
  height: auto;
  flex-grow: 2;
}

#header {
  width: 100%;
  height: auto;
  flex-grow: 0;
}

#footer {
    flex-grow: 0;
    width: 100%;
    height: auto;
}

#sort_nav {
    flex-grow: 0;
    width: 100%;
    height: auto;
}